<p id="notice"><%= notice %></p>

<p>
  <strong>Keyword:</strong>
  <%= @keyword.keyword %>
</p>

<p>
  <strong>Urls:</strong>
  <ul>
    <li><%= @keyword.urls.select{|u| u.isTopAd}.size %> Ads on top</li>
    <li><%= @keyword.urls.select{|u| u.isRightAd}.size %> Ads on the right</li>
    <li><%= @keyword.urls.reject{|u| u.isRightAd || u.isTopAd}.size %> Non-ads links</li>
    <li><%= @keyword.urls.size %> total links</li>
  </ul>
</p>

<p>
  <strong>Cache:</strong>
  <%= link_to "#{@keyword.cache.size} characters", controller: :keywords, action: :cache, id: @keyword.id %>
</p>

<p>
  <strong>Processed at:</strong>
  <%= @keyword.processed_at %>
</p>

<p>
  <strong>Total results:</strong>
  <%= @keyword.total_results %>
</p>

<p>
  <strong>Search time:</strong>
  <%= @keyword.search_time %>
</p>

<%= link_to 'Back', :back %>
